* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
	--button-hover-col: hsl(245, 83%, 68%);
}

body {
	position: relative;
	font-size: 16px;
	min-height: 100vh;
	font-family: 'Red Hat Display', sans-serif;
	background-image: url('images/pattern-background-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--pale-blue);
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 450px;
	background: white;
	border-radius: 25px;
	overflow: hidden;
}

.text-content {
	padding: 30px;
	text-align: center;
}

.title {
	color: var(--dark-blue);
	font-weight: 900;
	font-size: 32px;
	margin-bottom: 25px;
}

.subtitle {
	margin-bottom: 25px;
	color: var(--desaturated-blue);
}

.plan-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	padding: 25px;
	background-color: var(--very-pale-blue);
}

.plan-box-left {
	display: flex;
	align-items: center;
}

.plan-box-img {
	margin-right: 20px;
}

.plan-box-text {
	text-align: left;
}

.plan-box-text h2 {
	font-weight: 900;
	font-size: 15px;
	color: var(--dark-blue);
}

.plan-box-text p {
	font-size: 15px;
	color: var(--desaturated-blue);
}

.plan-box-btn {
	font-weight: 700;
	transition: color 0.3s;
}

.plan-box-btn a:hover {
	text-decoration: none;
	color: var(--button-hover-col);
}

.proceed-btn {
	display: block;
	padding: 20px 0;
	margin: 30px 0;
	text-decoration: none;
	font-weight: 700;
	background-color: var(--bright-blue);
	color: white;
	border-radius: 15px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.proceed-btn:hover {
	background-color: var(--button-hover-col);
}

.cancel-btn {
	color: var(--desaturated-blue);
	font-weight: 700;
	padding: 20px 0;
    cursor: pointer;
	transition: color 0.3s;
}

.cancel-btn:hover {
	color: var(--dark-blue);
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
